.signin-container {
  width: 320px;
  margin: 15px auto;
  /* font-family: Arial, sans-serif; */
  display: flex;
  flex-direction: column;
}

.signin-close {
   align-self: flex-start;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.signin-title {
  margin: 16px 0;
  font-size: 18px;
  font-weight: 500;
}

.signin-label {
  font-size: 14px;
  margin: 8px 0 4px;
  color: #1a1a1a;
}

.signin-input {
  width: 100%;
  padding: 16px;
  border: 2px solid #cfd4dc;
  border-radius: 4px;
  font-size: 14px;
}

.signin-input:focus {
  border-color: #0d47a1;
  outline: none;
  /* box-shadow: 0 0 5px rgba(13, 71, 161, 0.5); */
}

.signin-password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.signin-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.signin-links {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.signin-links a {
  font-size: 13px;
  color: #0d47a1;
  text-decoration: none;
}

.signin-links a:hover {
  text-decoration: underline;
}

.signin-btn {
    width: 100%;
    padding: 20px;
    background: #0d1b82;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
}

.signin-btn:hover {
  background: #0b1670;
}

.sign-in-wrapper{
    display: flex;
}

.signin-error{
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}